/* @tailwind base;
@tailwind components;
@tailwind utilities; */
/* @import url("https://fonts.googleapis.com/css2?family=Allura&family=Qwitcher+Grypen:wght@400;700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");

:root {
  --background: #ffffff;
  /* --background: #f4f4f4; */
  --foreground: #171717;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  margin: 0;
  display: block;
}

/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
