/* @tailwind base;
@tailwind components;
@tailwind utilities; */
/* @import url("https://fonts.googleapis.com/css2?family=Allura&family=Qwitcher+Grypen:wght@400;700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
